# Node
node_modules
npm-debug.log

# Logs
logs
*.log

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea
.vscode

# React build output
/build

# Coverage
coverage

# Firebase service account key
cinematch-firebase-adminsdk.json
